/* Reset básico */
body, h1, h2, p, ul, ol, li, a, blockquote {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte padrão */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.8;
  color: #000;
    background: linear-gradient(to right, black, red);
  text-align: center;
}

/* Links */
a {
  text-decoration: none;
  color: #d90000;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: #d90000;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
}

/* Header */
header {
  background-color: #000;
  padding: 30px;
  text-align: center;
  border-bottom: 4px solid #d90000;
}

header h1 {
  font-size: 2.5rem;
  color: #d90000;
  text-transform: uppercase;
}

header p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #fff;
}

/* Seções */
section {
  padding: 40px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 8px;
  background-color: #f8f8f8;
  border: 2px solid #d90000;
  text-align: justify;
}

section h2 {
  font-size: 2rem;
  color: #d90000;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

section p, section ul, section ol {
  margin-bottom: 20px;
  color: #333;
}

/* Listas */
ul, ol {
  padding-left: 20px;
  color: #000;
}

li {
  margin-bottom: 10px;
}

/* Botões */
a.button {
  display: inline-block;
  padding: 12px 25px;
  background-color: #d90000;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.3s, background-color 0.3s;
}

a.button:hover {
  background-color: #b00000;
  transform: scale(1.05);
}

/* Depoimentos */
blockquote {
  font-style: italic;
  background-color: #fff;
  padding: 20px 25px;
  margin: 20px auto;
  border-left: 5px solid #d90000;
  color: #333;
  max-width: 800px;
  text-align: justify;
  border-radius: 5px;
}

/* Footer */
footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  border-top: 4px solid #d90000;
  font-size: 0.9rem;
  color: #fff;
}

footer a {
  color: #d90000;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
